body {
	background-color: black;
}
#title {
	padding-top: 30px;
	color: #fff;
	text-align: center;
	font-family: 'VT323', monospace;
	font-size: 56px;
}

#image {
	width: 80%;
	border: 3px solid #fff;
	margin-left: 120px;
}

.desc {
	padding-top: 50px;
	color: #555;
	text-align: center;
	font-family: 'VT323', monospace;
	font-size: 32px;
}

#btn_download {
	display: block;
	border: 3px solid #fff;
	color: #FFF;
	text-align: center;
	font-family: 'VT323', monospace;
	font-size: 32px;
	/* Button Paddings */
	margin-left: 340px;
	margin-right: 340px;
	margin-top: 30px;
	text-decoration: none; 
}

#btn_download:hover {
	display: block;
	border: 3px solid #fff;
	color: #FFF;
	background-color: #232323;
	text-align: center;
	font-family: 'VT323', monospace;
	font-size: 32px;
	/* Button Paddings */
	margin-left: 340px;
	margin-right: 340px;
	margin-top: 30px;
}

#foot {
	background-color: #080808;
	font-family: 'VT323', monospace;
	font-size: 24px;
	color: #222;
	text-align: center;
}

#image_footer {
	padding-top: 10px;
	padding-bottom: none;
	width: 10%;
}

.text {
	padding-top: 10px;
	padding-bottom: 10px;
}

.download {
	text-decoration: none;
	color: #fff
}

.tag {
	background-color: #27A41F;
	font-family: 'VT323', monospace;
	font-size: 16px;
	color: #FFF;
	text-align: center;
}

#footer {
	padding-top: 100px;
}

.actionbar {
	padding-top: 70px;
}