body {
	background-color: black;
}

#title {
	background-color: #060606;
	color: #fff;
	text-align: center;
	font-family: 'VT323', monospace;
	font-size: 56px;
}

/*Total Config*/

#players {
	color: #fff;
	text-align: center;
	font-family: 'VT323', monospace;
	font-size: 24px;
}

/* Players Listing page*/

.player1 {
	
}