@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    background-color: black;
}

.lst_img_number {
	width: 1%;
	padding-right: 108px;
	padding-left: 23px;
}
.lst_img_place {
	width: 3%;
	padding-right: 3em;
	padding-left: 15px;
}

.banner {
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: rgb(255, 0, 43);
	color: rgb(255, 255, 255);
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	text-shadow: 0 0 20px #000;
	font-size: 16px;	
}

.pg_about_title {
    padding-top: 13px;
    padding-bottom: 23px;;
    font-family: 'Quicksand', sans-serif;
	text-shadow: 0 0 10px #fff;
    text-align: center;
    font-size: 42px;
    color: #fff;
}

.lst_player_cat1 {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	background-color: rgb(44, 44, 44);
	font-family: 'Quicksand', sans-serif;
	text-shadow: 0 0 20px rgb(255, 255, 255);
	font-size: 32px;
}
.lst_player_cat2 {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	background-color: rgb(20, 20, 20);
	font-family: 'Quicksand', sans-serif;
	text-shadow: 0 0 20px rgb(255, 255, 255);
	font-size: 32px;	
}

.lst_content {
	border: 3px solid rgb(255, 255, 255);	
}

#foot {
	background-color: #080808;
	font-family: 'Quicksand', sans-serif;
	text-shadow: 0 0 60px #fff;
	font-size: 24px;
	color: #222;
	text-align: center;
}

#image_footer {
	
	padding-top: 10px;
	width: 10%;
}

footer {
	padding-top: 10em;
}
.text {
	color: rgb(48, 48, 48);
	padding-top: 10px;
	padding-bottom: 10px;
}

.content {	
	padding-top: 10px;
	padding-left: 20px;
	color: rgb(139, 139, 139);
	font-family: 'Quicksand', sans-serif;
	text-shadow: 0 0 20px rgb(139, 139, 139);
	font-size: 16px;
}